.SideBar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted--bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.SideBarDark {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted--bg-color);
    position: relative;
    transition: width 0.3s;
}

.lang {
    margin-left: 20px;
}

.toggleBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.items {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inveted-primary-color);
}

.link {
    margin-top: 10px;
    opacity: 1;
}

.isVisible {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .lang {
        margin-left: 0;
    }

    .link {
        opacity: 0;
        transition: 0.2 opacity;
        width: 0;
    }
}
