.app.dark {
    --bg-color: #090949;
    --inverted--bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inveted-primary-color: #0232c2;
    --inveted-secondary-color: #0449e0;
}
