:root {
    --bg-color: #e8e8ea;
    --inverted--bg-color: #090949;
    --primary-color: #04ff04;
    --secondary-color: #0449e0;
    --inverted-primary-color: #004600;
    --inverted-secondary-color: #04ff04;
}
